@inject AppState appState
@inject IDbCon db
@inject IModalService Modal

@if (tbl != null)
{
	<table>
		<caption>
			<button @onclick="@(() => ShowMdf(0))">
				<span class="material-symbols-outlined">
					add
				</span>
				Görevler (Şablon)
			</button>
		</caption>
		<tbody>
			<tr>
				<th>Edit</th>
				<th>Birim</th>
				<th>Görev</th>
				<th>Yapan</th>
				<th>İstekBaş</th>
				<th>İstekBit</th>

			</tr>
			@foreach (var rec in tbl)
			{
				<tr>
					<td>
						<button @onclick="@(() => ShowMdf(rec.POId))">
							<span class="material-symbols-outlined">
								edit
							</span>
							@rec.POId
						</button>
					</td>
					<td>@rec.SbjAd</td>
					<td>@rec.TskAd</td>
					<td>@rec.ActAd</td>
					<td>@rec.RSDf</td>
					<td>@rec.RFDf</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private List<PO> tbl;
	[Parameter] public int PPId { get; set; }

	ModalOptions options = new ModalOptions()
		{
			HideHeader = true,
			Size = ModalSize.Large,
			Position = ModalPosition.Middle
		};

	public async Task ShowMdf(int id)
	{
		ModalParameters mp = new();
		mp.Add("POId", id);

		var x = Modal.Show<PtrOrdMdf>("", mp, options);
		var r = await x.Result;
		if (r.Confirmed)
		{
			await Read();
		}
	}

	private async Task Read()
	{
		try
		{
			using var conn = db.GetConnection();
			tbl = (await conn.QueryAsync<PO>("PO_QRY",
				new { a = appState.UsrId, b = PPId },
				commandType: CommandType.StoredProcedure)
			).ToList();

			//Notifier.Notify += OnNotify;
		}
		catch (Exception ex)
		{
			var hata = ex.Message.Split("\r\n")[1];
			Modal.Show<ModalConfirm>(hata);
		}
	}

	protected override async Task OnInitializedAsync()
	{
		await Read();
	}


	public sealed class PO
	{
		public int POId;
		public int SbjId;
		public int TskId;
		public int ActId;
		public DateTime? RSD;
		public DateTime? RFD;
		public string? SbjAd;
		public string? TskAd;
		public string? ActAd;

		public string? RSDf => RSD?.ToString("dd.MM.yy HH:mm");
		public string? RFDf => RFD?.ToString("dd.MM.yy HH:mm");

	}
}

