@inject AppState my
@inject IDbCon db
@inject IModalService Modal

@if (tbl != null)
{
	<table>
		<caption>
			<button @onclick="@(() => ShowMdf(0))">
				<span class="material-symbols-outlined">add</span>Talep Şablonları
			</button>
		</caption>
		<tbody>
			<tr>
				<th>Edit</th>
				<th>Ad</th>
				<th>Aylık</th>
				<th class="t-c">Talepler</th>
			</tr>
			@foreach (var rec in tbl)
			{
				<tr>
					<td>
						<button @onclick="@(() => ShowMdf(rec.PPId))">
							<span class="material-symbols-outlined">edit</span>@rec.PPId
						</button>
					</td>
					<td>@rec.Ad</td>
					<td><input type="checkbox" disabled @bind="@rec.isAYLIK" /></td>
					<td class="t-c">
						<button @onclick="@(() => ShowDty(rec.PPId))">
							<span class="material-symbols-outlined">settings_b_roll</span>
						</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private List<PP> tbl;
	ModalOptions options = new ModalOptions()
		{
			HideHeader = true,
			Size = ModalSize.Medium,
			Position = ModalPosition.Middle
		};

	public async Task ShowMdf(int id)
	{
		ModalParameters mp = new();
		mp.Add("Id", id);

		var x = Modal.Show<PtrMdf>("", mp,
			new ModalOptions()
				{
					HideHeader = true,
					Size = ModalSize.Large,
					Position = ModalPosition.Middle
				});
		var r = await x.Result;
		if (r.Confirmed)
		{
			await Read();
		}
	}

	public async Task ShowDty(int id)
	{
		ModalParameters mp = new();
		mp.Add("PPId", id);

		var x = Modal.Show<PtrOrdQry>("", mp,
			new ModalOptions()
				{
					HideHeader = true,
					Size = ModalSize.ExtraLarge,
					Position = ModalPosition.Middle
				});
		var r = await x.Result;
		if (r.Confirmed)
		{
			await Read();
		}
	}

	private async Task Read()
	{
		try
		{
			using var conn = db.GetConnection();
			tbl = (await conn.QueryAsync<PP>("PP_QRY",
				new { a = my.Id, b = my.FrmId }, // SP parametreleri DB deki sırasıyla gönderilmeli
				commandType: CommandType.StoredProcedure)
			).ToList();

			//Notifier.Notify += OnNotify;
		}
		catch (Exception ex)
		{
			var hata = ex.Message.Split("\r\n")[1];
			Modal.Show<ModalConfirm>(hata);
		}
	}

	protected override async Task OnInitializedAsync()
	{
		await Read();
	}


	public sealed class PP
	{
		public int PPId;
		public string? Ad;
		public int AYLIK
		{
			get => isAYLIK ? 1 : 0;
			set
			{
				isAYLIK = value == 1;
			}
		}
		public bool isAYLIK = false;

	}
}

