@inject AppState my
@inject IDbCon db
@inject IModalService Modal

@if (ss != null && su != null)
{
	<table style="min-width:340px;">
		<caption>
			<button @onclick="Kaydet">
				<span class="material-symbols-outlined">check</span>Birim Kaydet
			</button>
		</caption>
		<tbody>
			<tr>
				<td>id#</td>
				<td>@Idf()</td>
			</tr>
			<tr>
				<td>ad</td>
				<td><input type="text" maxlength="30" @bind="ss!.Ad" /></td>
			</tr>
			<tr>
				<td>pasif</td>
				<td><input type="checkbox" @bind="ss.isPsf" style="width:auto" /></td>
			</tr>
			@if (ss.SSId != 0)
			{
				<tr>
					<td>sil (kullanılmadıysa) </td>
					<td>
						<input type="checkbox" @bind="ss.Del" style="width:auto" />
					</td>
				</tr>
			}

			<tr>
				<td colspan="2" style="padding:0;">
					<div style="max-height:8lh;overflow:auto">
						<table>
							<tr style="font-size:.6rem;position:sticky;top:0;background-color:aliceblue;">
								<th></th>
								<th>kullanıcı</th>
								<th>-</th>
								<th style="padding:2px 0">sorumlu</th>
								<th style="padding:2px 0">gözlemci</th>
							</tr>
							@foreach (var r in su)
							{
								<tr>
									<td class="ta-c"><input type="checkbox" @bind="r.isMbr" /></td>
									<td>@r.UUAd</td>
									<InputRadioGroup @bind-Value="r.Rol" Name="@r.UUId.ToString()">
										<td class="ta-c"><InputRadio Value="0" disabled="@(!r.isMbr)" /></td>
										<td class="ta-c"><InputRadio Value="2" disabled="@(!r.isMbr)" /></td>
										<td class="ta-c"><InputRadio Value="3" disabled="@(!r.isMbr)" /></td>
									</InputRadioGroup>
								</tr>
							}
						</table>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
}

@code {
	[CascadingParameter] BlazoredModalInstance ModalIns { get; set; } = default!;
	[Parameter] public int SSId { get; set; }
	private SS? ss;
	private List<SU>? su;

	public async Task Kaydet()
	{
		try
		{
			using var conn = db.GetConnection();

			int newId = conn.ExecuteScalar<int>("SS_MDF",
					new
					{
						p1 = my.Id,
						p0 = ss.Del ? 1 : 0,
						p2 = my.FrmId,
						p3 = SSId,
						p4 = ss!.Ad,
						p5 = ss.Psf,
					},
					commandType: CommandType.StoredProcedure);

			foreach (var r in su)
			{
				_ = conn.Execute("US_MDF",
					new
					{
						p1 = r.UUId,
						p2 = my.FrmId,
						p3 = newId,
						p4 = r.SUId,
						p5 = r.Mbr,
						p6 = r.Rol
					},
					commandType: CommandType.StoredProcedure);
			}
		}
		catch (Exception ex)
		{
			var hata = ex.Message.Split("\r\n")[1];
			Modal.Show<ModalWarning>(hata);
		}

		await ModalIns.CloseAsync(ModalResult.Ok());
	}

	protected override void OnInitialized()
	{
		try
		{
			using var conn = db.GetConnection();
			if (SSId == 0)
			{
				ss = new();
			}
			else
			{
				ss = conn.QuerySingle<SS>("select * from SS where SSId = @Id",
					new { Id = SSId },
					commandType: CommandType.StoredProcedure);
			}
			su = conn.Query<SU>("SU_QRY",
				new
				{
					p1 = SSId,
					p2 = my.FrmId
				},
				commandType: CommandType.StoredProcedure).ToList();

			su = su.OrderByDescending(x => x.Mbr).ThenBy(y => y.UUAd).ToList();

		}
		catch (Exception ex)
		{
			var hata = ex.Message.Split("\r\n")[1];
			Modal.Show<ModalConfirm>(hata);
		}
	}

	private string Idf()
	{
		return SSId == 0 ? "yeni" : SSId.ToString("### ### ###");
	}

	public sealed class SS
	{
		public int SSId;
		public bool Del;
		public string? Ad;
		public int Psf;
		public bool isPsf
		{
			get => Psf == 1;
			set
			{
				Psf = value ? 1 : 0;
			}
		}
	}

	public sealed class SU
	{
		public int SUId;
		public int UUId;
		public string? UUAd;
		public int Rol;
		public int Mbr;
		public bool isMbr
		{
			get => Mbr == 1;
			set
			{
				Mbr = value ? 1 : 0;
			}
		}
	}
}
