@inject AppState my
@inject IDbCon db
@inject IModalService Modal

@if (tbl != null)
{
	<table>
		<caption>
			<button @onclick="@(() => ShowMdf(0))">
				<span class="material-symbols-outlined">add</span>
				KullanıcıTanım
			</button>
		</caption>
		<tbody>
			<tr>
				<th>Edit</th>
				<th>Ad</th>
				<th>Rol</th>
				<th>Tel</th>
				<th>Mail</th>
			</tr>
			@foreach (var rec in tbl)
			{
				<tr>
					<td>
						<button @onclick="@(() => ShowMdf(rec.UUId))">
							<span class="material-symbols-outlined">edit</span>
							<span style="font-size:.6rem;">@rec.UUId</span>
						</button>
					</td>
					<td>@rec.Ad</td>
					<td style="text-align:center;font-family: monospace;">@rec.YtkTxt</td>
					<td>@rec.Tel</td>
					<td>@rec.Mail</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private List<UU> tbl;

	ModalOptions options = new ModalOptions()
		{
			HideHeader = true,
			Size = ModalSize.Large,
			ActivateFocusTrap = false,
			Position = ModalPosition.Middle
		};

	public async Task ShowMdf(int id)
	{
		ModalParameters mp = new();
		mp.Add("UUId", id);

		var x = Modal.Show<UsrMdf>("", mp, options);
		var r = await x.Result;
		if (r.Confirmed)
		{
			await Read();
		}
	}

	private async Task Read()
	{
		try
		{
			using var conn = db.GetConnection();
			tbl = (await conn.QueryAsync<UU>("UU_QRY",
				new { a = my.Id, b = my.FrmId }, // SP parametreleri DB deki sırasıyla gönderilmeli
				commandType: CommandType.StoredProcedure)
			).ToList();

			//Notifier.Notify += OnNotify;
		}
		catch (Exception ex)
		{
			var hata = ex.Message.Split("\r\n")[1];
			Modal.Show<ModalConfirm>(hata);
		}
	}

	protected override async Task OnInitializedAsync()
	{
		await Read();
	}

	public sealed class UU
	{
		public int UUId;
		public int Ytk;
		public string? Ad;
		public string? Tel;
		public string? Mail;
		public string? Pwd;
		public string? YtkTxt;
	}
}
