@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject AppState my
@inject IDbCon db
@inject IModalService Modal
@inject NotifierService Notifier
@implements IAsyncDisposable
@inject NavigationManager navigationManager
@inject IJSRuntime js
@inject IToastService toastService
@inject PubSubService PubSubSrv

@* <CascadingBlazoredModal @rendermode="InteractiveServer"></CascadingBlazoredModal> *@
@* MainLayout da tanımlı *@

@* <audio id="sound2" src="/mixkit-signal-alert-771-zip.wav" /> *@

<div class="top">
	@if (my.Id > 0)
	{
		<div>
			@my.Ad @my.YtkAd <InputCheckbox @bind-Value="cbUsrDashBoard" />
		</div>
	}
	else
	{
		<div>Giriş yapın</div>
	}

	<InputSelect TValue="string" style="font-size:1rem"
				 Value="selVal"
				 ValueChanged="MenuChange"
				 ValueExpression="@(() => selVal)">
		<option value="">🏠 HOME</option>
		@if (my.Id != 0)
		{
			<option value="ordActive/0/all">🚧 Talepler &nbsp;&nbsp;</option>
			<option value="OrdStatUsr/@my.Id">📈 Günlük Özet</option>
			@* <option value="TlpQry/0/all">🚧 Talepler2</option> *@
			<option value="OrdStatSrv/@my.Tkn/@my.Id/@my.Ytk">📈 Grup Özet</option>
			@if (my.FPS)
			{
				<option value="SrvQryPrv">🔐 Gruplarım</option>
			}
			@if (my.FPM)
			{
				@* <option value="MdlQryPrv">🖇️ Modellerim</option> *@
				<option value="XXqry">🖇️ Modellerim</option>
			}
			@if (my.FPP)
			{
				<option value="PrdQryPrv">⏳ Periyodiklerim</option>
			}
			@if (my.Ytk == 1)
			{
				<optgroup label="Tanımlar">
					<option value="UsrQry">👫 Kullanıcılar &nbsp;</option>
					<option value="SrvQry">⚓ Gruplar</option>
					<option value="TskQry">📝 Konular</option>
					@* <option value="MdlQry">🖇️ Modeller</option> *@
					<option value="XXqry">🖇️ Modeller</option>
					<option value="PrdQry">⏳ Periyodikler</option>

				</optgroup>
				<option value="ordDone">💤 Arşiv</option>
			}
			<option value="Logout">↙️ Logout</option>
		}
		else
		{
			<option value="Login">↗️ Login</option>
		}
		@* <option value="counter">&nbsp;🚧 Deneme</option> *@
		@* <option value="Refresh">🔄 Refresh</option> *@

	</InputSelect>
</div>

<div class="btm">
	<div>&copy; talepler.online @(DateTime.Now.Year)</div>
	<div>@my.FrmAd</div>
</div>


@if (cbUsrDashBoard)
{
	<UsrDashBoard />
}

@code {
	//[CascadingParameter] public IModalService Modal { get; set; } = default!;
	[Parameter] public string? usrTkn { get; set; } = default;
	private bool cbUsrDashBoard = false;

	private string selVal = "";
	private async Task MenuChange(string selectedValue)
	{
		if (selectedValue == "Login")
		{
			selVal = "";
			await MyLogin();
			cbUsrDashBoard = false;
		}
		else if (selectedValue == "Logout")
		{
			await MyLogout();
			cbUsrDashBoard = false;
		}
		else if (selectedValue == "SrvQry")
		{
			await ShowSrvQry();
		}
		else if (selectedValue == "SrvQryPrv")
		{
			await ShowSrvQryPrv();
		}
		else if (selectedValue == "TskQry")
		{
			await ShowTskQry();
		}
		else if (selectedValue == "UsrQry")
		{
			await ShowUsrQry();
		}
		else if (selectedValue == "XXqry")
		{
			await ShowXXqry();
		}
		else if (selectedValue == "MdlQry")
		{
			await ShowMdlQry();
		}
		else if (selectedValue == "MdlQryPrv")
		{
			await ShowMdlQryPrv();
		}
		else if (selectedValue == "PrdQry")
		{
			await ShowPrdQry();
		}
		else if (selectedValue == "PrdQryPrv")
		{
			await ShowPrdQryPrv();
		}
		else if (selectedValue == "Refresh")
		{
			await js.InvokeVoidAsync("hardReload");
		}
		else if (selectedValue == "OrdStat")
		{
			selVal = selectedValue;
			navigationManager.NavigateTo($"OrdStat/{usrTkn}/{@my.Id}/{@my.Ytk}");
		}
		else
		{
			selVal = selectedValue;
			navigationManager.NavigateTo(selectedValue);
			// navigationManager.NavigateTo(selectedValue, replace: true);
		}
	}

	private ValueTask ShowPrdQry()
	{
		PubSubSrv.Publish(RedisChannel.Literal("deneme"), $"heyooo {my.Id}");

		ModalParameters mp = new();
		mp.Add("Prv", false);

		Modal.Show<PrdQry>("", mp);
		return ValueTask.CompletedTask;
	}
	private async Task ShowPrdQryPrv()
	{
		ModalParameters mp = new();
		mp.Add("Prv", true);

		Modal.Show<PrdQry>("", mp);
	}

	private async Task ShowUsrQry()
	{
		ModalParameters mp = new();
		// mp.Add("OOId", oo.OOId);
		var messageForm = Modal.Show<UsrQry>("", mp);
		var result = await messageForm.Result;
		StateHasChanged();
		//return ValueTask.CompletedTask;
	}
	private async Task ShowTskQry()
	{
		ModalParameters mp = new();
		// mp.Add("OOId", oo.OOId);

		Modal.Show<TskQry>("", mp);
	}
	private async Task ShowSrvQry()
	{
		ModalParameters mp = new();
		mp.Add("Prv", false);

		Modal.Show<SrvQry>("", mp);
	}
	private async Task ShowSrvQryPrv()
	{
		ModalParameters mp = new();
		mp.Add("Prv", true);

		Modal.Show<SrvQry>("", mp);
	}
	private async Task ShowXXqry()
	{
		ModalParameters mp = new();

		Modal.Show<XXqry>("", mp);
	}
	private async Task ShowMdlQry()
	{
		ModalParameters mp = new();
		mp.Add("Prv", false);

		Modal.Show<MdlQry>("", mp);
	}
	private async Task ShowMdlQryPrv()
	{
		ModalParameters mp = new();
		mp.Add("Prv", true);

		Modal.Show<MdlQry>("", mp);
	}


	public async Task MyLogin()
	{
		var options = new ModalOptions()
			{
				HideHeader = true,
				Size = ModalSize.Small,
			};
		ModalParameters mp = new();

		var messageForm = Modal.Show<ModalLogin>("Login", mp, options);
		var result = await messageForm.Result;
		if (result.Confirmed)
		{
			var prms = (LgnPrms)result.Data;

			try
			{
				using var conn = db.GetConnection();
				int uuId = conn.ExecuteScalar<int>("USR_LOGIN",
					new { a = prms!.Id, b = prms.Pwd, c = usrTkn }, commandType: CommandType.StoredProcedure);

				if (uuId > 0)
				{
					//await UsrEnter();

					await Notifier.Invoke("UsrLogIn", new NotifyArgs { UsrTkn = usrTkn });
					//navigationManager.NavigateTo("");
					//await MenuChange("OrdStat");
					await MenuChange("");

				}
			}
			catch (Exception ex)
			{
				ModalParameters mp2 = new();
				mp2.Add("Message", ex.Message);
				Modal.Show<ModalWarning>("", mp2);
				//navigationManager.NavigateTo("");
			}
		}
	}

	public async Task MyLogout()
	{
		using var conn = db.GetConnection();
		conn.Execute("USR_LOGOUT", new { Tkn = usrTkn }, commandType: CommandType.StoredProcedure);

		my.Tkn = "";
		my.UEXId = 0;
		my.Id = 0;
		my.Ad = "Giriş Yapın";
		my.Ytk = 0;
		my.FrmId = 0;
		my.FrmAd = "";
		my.SrvSet.Clear();

		await Notifier.Invoke("UsrLogOut", new NotifyArgs { UsrTkn = usrTkn });
		navigationManager.NavigateTo("");
	}

	protected override async Task OnInitializedAsync()
	{

		selVal = "";
		await UsrEnter();
		if (my.Id > 0)
		{
			// await MenuChange("ordActive/0/all");
			await MenuChange("");

		}
	}

	protected async Task UsrEnter()
	{
		using var conn = db.GetConnection();
		try
		{
			//UsrTkn = "A";   //Deneme

			//var x = conn.QuerySingle("select * from USR_ENTER(@Tkn)", new { Tkn = UsrTkn });
			//var x = conn.QuerySingle($"select * from USR_ENTER('{UsrTkn}')");

			// SP parametreleri DB deki sırasıyla gönderilmeli
			var x = conn.QuerySingle("USR_ENTER", new { Tkn = usrTkn }, commandType: CommandType.StoredProcedure);

			// null gelmez
			my.Tkn = usrTkn;
			my.UEXId = x.UEXID;
			my.Id = x.ID;
			my.Ytk = x.YTK;
			my.Ad = x.AD;
			my.FrmId = x.FRMID;
			my.FrmAd = x.FRMAD;
			my.SrvStr = x.SRVSTR;
			my.FPS = x.FPS == 1 ? true : false;		// PrvtSrv
			my.FPP = x.FPP == 1 ? true : false;		// PrvtPeriyodik
			my.FPM = x.FPM == 1 ? true : false;     // PrvtModel

			await Notifier.Invoke("UsrEnter", new NotifyArgs
				{
					UUId = my.Id,
					FFId = my.FrmId
				});

			Notifier.Notify += OnNotify;
		}
		catch (Exception ex)
		{
			ModalParameters mp = new();
			mp.Add("Message", ex.Message);
			Modal.Show<ModalWarning>("", mp);		}
	}

	public async Task OnNotify(string key, NotifyArgs value)
	{
		if (key == "UsrLogIn" && value.UsrTkn == usrTkn)
		{
			await UsrEnter();
			await InvokeAsync(() =>
			{
				StateHasChanged();
			});
		}
		else if (key == "UsrLogOut" && value.UsrTkn == usrTkn)
		{
			await InvokeAsync(() =>
			{
				StateHasChanged();
			});
		}
		else if (key == "IO" && value.FFId == my.FrmId)
		{
			if (my.Id != value.UUId && value.OrdUsrMap.ContainsKey(my.Id))
			{
				// 	if (selVal == "OrdStat")
				// 		navigationManager.NavigateTo($"OrdStat/{usrTkn}/{@my.Id}/{@my.Ytk}");

				toastService.ShowInfo($"Yeni Talep eklendi {value.OOId.toSqid()}");

				try
				{
					await js.InvokeVoidAsync("playSound", "sound");
				}
				catch (JSDisconnectedException)
				{

				}
			}
		}
	}

	public async ValueTask DisposeAsync()
	{
		// PubSubSrv.Unsubscribe(RedisChannel.Literal("deneme"), OnMessage);

		// Firefox 3dak sonra gönderiyor
		// In this scenario dispose gets called after around 3 minutes (by default) when we detect the connection has been lost and the client doesn't re-connect as part of disposing the entire circuit.

		Notifier.Notify -= OnNotify;

		using var conn = db.GetConnection();
		conn.Execute("USR_EXIT", new { UEXId = my.UEXId }, commandType: CommandType.StoredProcedure);

		await Notifier.Invoke("UsrExit", new NotifyArgs());

		// var subscriber = rConn.GetSubscriber();
		// subscriber.UnsubscribeAll();

		// Suppress finalization.
		GC.SuppressFinalize(this);
	}
}
