@page "/ordactive"
@page "/ordactive/{qryStr}"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject AppState appState
@inject IDbCon db
@inject IModalService Modal
@inject IToastService toastService
@inject NotifierService Notifier
@inject IJSRuntime js
@implements IDisposable

<div class="stk">
	<button @onclick="Read" style="background-color: yellow;">
		<span class="material-symbols-outlined">
			refresh
		</span>
	</button>

	<button @onclick="@(async () => await js.InvokeVoidAsync("showDialogModal", "ooSrchDlg"))">
		<span class="material-symbols-outlined">
			search
		</span>
	</button>
</div>

<dialog id="ooSrchDlg">
	<p>Greetings, one and all!</p>
	<form method="dialog">
		<button>OK</button>
		<button @onclick="@(async ()=> await js.InvokeVoidAsync("closeDialog", "ooSrchDlg"))">Cancel</button>
	</form>
</dialog>


@if (ooList != null)
{
	<div class="ooCnt">
		@foreach (OO rec in ooList)
		{
			<div id="mypopover-@rec.OOId" popover="auto">@rec.Inf</div>

			<div class="ooCard" data-Ytk="@appState.UsrYtk" data-Act="@(rec.ActId == appState.UsrId)"
				 data-Stu="@rec.Stu" data-CS="@rec.CS" data-CF="@rec.CF"
				 data-IoC="@rec.IoC" data-SoF="@rec.SoF">
				<div class="ooHdr">
					<button class="ooBtnEdt" @onclick="@(() => ShowEdit(rec))">
						<span class="material-symbols-outlined">settings</span>
						<span class="ooBtnEdtId">#@rec.OOId</span>
					</button>
					<div class="ooHdrTxt">@rec.SbjAd</div>
					<button class="ooBtnMsj" @onclick="@(() => ShowMsg(rec))">
						<span class="ooBtnMsjCnt">@rec.MnVcF</span>
						<span class="material-symbols-outlined">chat</span>
					</button>
				</div>
				<div class="box ooReq">@rec.ReqAd</div>

				<button class="ooPin" data-Pin="@rec.Pin" @onclick="@(() => PinTgl(rec))"></button>
				<div class="box ooSbj">@rec.SbjAd</div>
				<div class="box ooTsk">@rec.TskAd</div>
				<div class="box ooInf">
					<button class="pop-btn"
							popovertarget="mypopover-@rec.OOId"
							popovertargetaction="toggle">
						<span>@rec.Inf</span>
					</button>
				</div>

				<div class="box ooAct">@rec.ActAd</div>

				<div class="box ooS ooRSD">@rec.RSDf</div>
				<div class="box ooS ooASD">@rec.ASDf</div>
				<div class="box ooS ooDSH ooOzet">@rec.DSX</div>

				<div class="box ooF ooRFD">@rec.RFDf</div>
				<div class="box ooF ooAFD">@rec.AFDf</div>
				<div class="box ooF ooDFH ooOzet">@rec.DFX</div>
				<div class="ooFtr">
					<div class="ooStuZ">KAPANDI</div>
					<div class="ooStuX">İ P T A L</div>
					@{
						bool dsb = rec.ActId != appState.UsrId && appState.UsrYtk != 3;
					}
					<button class="ooStuA ooI ooBtnS" disabled="@dsb" @onclick="@(() => Baslat(rec))">Başlat</button>
					<button class="ooStuA ooI ooBtnF" disabled="@dsb" @onclick="@(() => Bitir(rec))">Bitir</button>

					<button class="ooStuA ooC ooBtnOK" @onclick="@(() => Ok(rec))">OK</button>
					<div class="ooStuA ooC ooTxtS">Başlat ?</div>
					<div class="ooStuA ooC ooTxtF">Bitir ?</div>
					<button class="ooStuA ooC ooBtnCancel" @onclick="@(() => Cancel(rec))">Cancel</button>
				</div>
			</div>
		}
	</div>
}


@code {
	[Parameter]
	public string? qryStr { get; set; } = "";
	private List<OO>? ooList;

	// /ordopen?filter=scifi%20stars&page=3&star=LeVar%20Burton&star=Gary%20Oldman
	// The Filter property resolves to scifi stars.
	// The Page property resolves to 3.
	// The Stars array is filled from query parameters named star(Name = "star") and resolves to LeVar Burton and Gary Oldman.
	// https://learn.microsoft.com/en-us/aspnet/core/blazor/fundamentals/routing?view=aspnetcore-8.0
	// [SupplyParameterFromQuery]
	// public string? Filter { get; set; }
	// [SupplyParameterFromQuery]
	// public int? Page { get; set; }
	// [SupplyParameterFromQuery(Name = "star")]
	// public string[]? Stars { get; set; }

	private bool hasWaitConfirm()
	{
		return ooList!.Exists((z) => z.IoC == "C");
	}

	private void ShowEdit(OO oo)
	{
		ModalParameters mp = new();
		mp.Add("OOId", oo.OOId);

		Modal.Show<OrdEdit>("deneme", mp,
			new ModalOptions
				{
					HideHeader = true,
					Size = ModalSize.Custom,
					SizeCustomClass = "blazored-modal-custom-size",
					Position = ModalPosition.Middle
				});
	}

	private void ShowMsg(OO oo)
	{
		ModalParameters mp = new();
		mp.Add("OOId", oo.OOId);

		Modal.Show<OrdMsg>("deneme", mp,
			new ModalOptions
				{
					HideHeader = true,
					Size = ModalSize.Custom,
					SizeCustomClass = "blazored-modal-custom-size",
					Position = ModalPosition.Middle
				});
	}

	private void PinTgl(OO oo)
	{
		toastService.ShowInfo("Yeni Görev eklendi");

		try
		{
			using var conn = db.GetConnection();
			var x = conn.ExecuteScalar("OU_PIN_TGL", new { a = appState.UsrId, b = oo.OOId });
			oo.Pin = (int)x;
		}
		catch (Exception ex)
		{
			var hata = ex.Message.Split("\r\n")[1];
			Modal.Show<ModalConfirm>(hata);
		}
	}
	private void Baslat(OO oo)
	{
		oo.IoC = "C";
		oo.SoF = "S";
	}
	private void Bitir(OO oo)
	{
		oo.IoC = "C";
		oo.SoF = "F";
	}
	private async Task Ok(OO oo)
	{
		try
		{
			using var conn = db.GetConnection();
			var res = conn.QuerySingle("OO_UPD_ACTUALDATES", new { a = appState.UsrId, b = oo.OOId, c = oo.SoF });

			oo.ASD = res.ASD;
			oo.AFD = res.AFD;
			oo.CS = res.CS;
			oo.CF = res.CF;
			oo.DSX = res.DSX;
			oo.DFX = res.DFX;
			oo.ActId = res.ACTID;
			oo.ActAd = res.ACTAD;

			oo.IoC = "I";

			await Notifier.Invoke("UO", new NotifyArgs
				{
					UsrId = appState.UsrId,
					OOId = oo.OOId,
				});
		}
		catch (Exception ex)
		{
			var hata = ex.Message.Split("\r\n")[1];
			Modal.Show<ModalConfirm>(hata);
		}
	}
	private void Cancel(OO oo)
	{
		oo.IoC = "I";
	}

	protected override async Task OnInitializedAsync()
	{
		await Read();
	}

	private async Task Read()
	{
		//qryStr = qryStr == "x" ? "" : qryStr;   // Boş ise x gönder
		qryStr = qryStr ?? "";   // coalesce(qryStr,'')
		try
		{
			using var conn = db.GetConnection();
			ooList = (await conn.QueryAsync<OO>("OO_QRY",
				new { A = appState.UsrId, B = qryStr }, // SP parametreleri DB deki sırasıyla gönderilmeli
				commandType: CommandType.StoredProcedure)
			).ToList();

			ooList = ooList.OrderBy(x => x.Idx).ThenByDescending(y => y.UpdTS).ToList();

			Notifier.Notify += OnNotify;
		}
		catch (Exception ex)
		{
			var hata = ex.Message.Split("\r\n")[1];
			Modal.Show<ModalConfirm>(hata);
		}
	}

	public async Task OnNotify(string key, NotifyArgs value)
	{
		if (value.UsrId != appState.UsrId)  // işlemi yapan kendisi değil
		{
			if (key == "IM")
			{
				int iof = ooList!.FindIndex(x => x.OOId == value.OOId);
				if (iof != -1)
				{
					ooList[iof].MnVc++;

					await InvokeAsync(() =>
					{
						StateHasChanged();
					});
				}
			}
			else if (key == "IO")
			{
				toastService.ShowInfo("Yeni Görev eklendi");
			}
			else if (key == "UO")
			{
				// Insert bu halde çalışmaz. Bu kullanıcıyı ilgilendiriyor mu?
				int iof = ooList!.FindIndex(x => x.OOId == value.OOId);
				if (iof != -1)
				{
					using var conn = db.GetConnection();
					var x = conn.QuerySingle<OO>("OO_QRY",
						new { A = appState.UsrId, B = qryStr, p3 = value.OOId }, // SP parametreleri DB deki sırasıyla gönderilmeli
						commandType: CommandType.StoredProcedure);

					ooList[iof] = x;

					await InvokeAsync(() =>
					{
						StateHasChanged();
					});
				}

			}
		}
	}

	public void Dispose()
	{
		Notifier.Notify -= OnNotify;
	}

}
